.opinions {

    // grid-template-columns: repeat(2, minmax(100px, 1fr));
    &__news-small {
        // grid-template-columns: 1fr;
    }
}

.post-list {
    &__item {
        height: 100%;
    }
}

.voting {
    transition: all .3s;

    &--non-active {
        z-index: 2;
        filter: blur(3px);
    }

    &__discussion {
        margin-top: 20px;
    }

    &__wrapper {
        transition: all .3s;
        opacity: 0;
        visibility: hidden;
        display: none;
    }

    &__progress {
        cursor: pointer;
        height: 100%;
        padding: 10px 20px;
        background-color: #fff;
        border-radius: $border-radius;
        border: 1px solid #AFB7D1;
        position: relative;
        margin-bottom: 4px;

        span {
            margin-left: 4px;
            display: flex;
        }
    }

    &__preload {
        opacity: 0;
        visibility: hidden;
    }

    &__progress-state {
        display: flex;
        transition: all .3s;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 8px;
    }


    &__progress-line {
        transition: all .3s;
        left: 0;
        top: 0;
        background: rgba(156, 166, 198, 0.81362);
        mix-blend-mode: normal;
        opacity: 0.14;
        border-radius: 4px 0px 0px 4px;
        position: absolute;
        width: 0%;
        height: 100%;
    }


}

.discussion-wrapper {
    display: none;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    visibility: hidden;

    a {
        color: #5F5F5F !important;
        display: flex;
        align-items: center;
        font-size: 14px;
    }
}

.voting-form {
    position: relative;
    display: flex;
    flex-direction: column;


    &__btn {
        margin-top: 10px;
    }

    &__news-title {
        margin-bottom: 17px;
    }

    &__variant {
        display: flex;
        align-items: center;
        margin-bottom: 9px;


        label {
            margin-left: 6px;
            cursor: pointer;
        }

        input {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            min-width: 15.5px;
            min-height: 15.5px;

            &::after {
                position: absolute;
                content: '';
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 15.5px;
                height: 15.5px;
                border: 1.5px solid $main-color;
                border-radius: 100%;
            }

            &:checked {

                &::after {
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    position: absolute;
                    content: '';
                    width: 15.5px;
                    height: 15.5px;
                    border: 1.5px solid $main-color;
                    border-radius: 100%;
                }

                &::before {
                    content: '';
                    position: absolute;
                    border-radius: 100%;
                    height: 9px;
                    width: 9px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: $main-color;
                }
            }

        }
    }
}

.preload-layer {
    position: relative;
}

.variants-wrapper {
    position: relative;
    opacity: 1;
    visibility: visible;
    transition: all .3s;

    &--non-active {
        display: none;
    }
}

.voting-forms {
    padding: 0 8px 0 2px;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 6px;
        background-color: #eeeeee;
        border-radius: $border-radius;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $main-color;
        border-radius: $border-radius;

    }
}

.percent-wrapper {
    color: $main-color;
}

.quantity-wrapper {
    color: #5F5F5F;
}

.modal-wrapper {
    display: none;
}
.voting-modal {
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__message {
        font-size: 45px;
        text-align: center;
        font-weight: 700;
    }
    &__img {
        width: 350px;
        max-width: 100%;
    }
}