@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import 'bootstrap/dist/css/bootstrap-reboot.css';
@import '/node_modules/@splidejs/splide/dist/css/splide.min.css';

@import 'base/variables';
@import 'base/_icons';
@import 'base/reuse-parts';
@import 'base/slider';
@import 'base/preload';
@import 'base/team-tabs';

@import 'parts/header';
@import 'parts/top-news';
@import 'parts/universal-slider';
@import 'parts/small-sizing-slider.scss';
@import 'parts/opinions';
@import 'parts/column-group';
@import 'parts/footer';

.container {
  margin: 0 auto;
  max-width: 1190px;
  padding: 0 25px;
  width: 100%;
}

body {
  position: relative;
  font-family: $default-font;
  color: $color-font;
}

a {
  color: $color-font;
  text-decoration: none;
}

li {
  list-style-type: none;
}

@media(max-width:991px) {
  .container {
    padding: 0 15px !important;
  }
}

@media(max-width:630px) {
  .container {
    padding: 0 8px !important;
  }
}