@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@import 'bootstrap/dist/css/bootstrap-reboot.css';

@import 'base/variables';
@import 'base/_icomoon';

@import 'parts/header';

.container {
  margin: 0 auto;
  max-width: 1190px;
  padding: 0 25px;
  width: 100%;
}

body {
  position: relative;
  font-family: $default-font;
  color: $color-font;
}

a {
  color: $color-font;
  text-decoration: none;
}

li {
  list-style-type: none;
}

@media(max-width:575px) {
  .container {
    padding: 0 8px;
  }
}