.footer {
    background-color: #24263C;
}
.footer-wrapper {
    padding: 0 10px;
    margin: 0 auto;
    width: 100%;
    max-width: 1250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
        padding: 13px 0;
    }
}

.links {
    padding-top: 12px;
    &__item {
        transition: all .3s;
        padding: 10px 15px;
        color: #fff;
        cursor: pointer;
        &:hover {
            color: $main-color
        }
    }
}
@media(max-width:991px) {
    .footer {
        padding: 10px 0;
    }
    .footer-wrapper {
        img {
            display: none;
        }
    }
    .links {
        padding: 0;
    }
}

@media(max-width:768px) {
    .footer-wrapper {
        flex-direction: column;
    }
    .links {
        padding-bottom: 10px;
    }
}
@media(max-width:575px) {
    .links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}