.header {
    &__menu-wrapper {
        display: flex;
        align-items: center;
        width: 142px;
        text-align: center;
    }
}

.header-line-mobile {
    display: none;
}


.mobile-menu {
    padding: 10px 0 20px;
    margin: 0;
    overflow-y: auto;
    height: calc(100vh - 64px);

    &::-webkit-scrollbar {
        width: 5px;
        background-color: #24263c;
        border-radius: $border-radius;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $main-color;
        border-radius: 20px;

    }

    img {
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 40px;
        height: 96%;
        object-fit: contain;
        padding: 10px;
        background-color: #1e2032;
        transition: all .3s;

        &:hover {
            background-color: #171826
        }
    }

    a {
        display: flex;
        flex-direction: column;
        color: white;
        padding: 13px 25px 13px 50px;
        position: relative;
        border-bottom: 1px solid hsla(0, 0%, 100%, .18);
        transition: all .3s;
    }

    &__item {
        &:hover {
            color: $main-color;
        }
    }

    &__li {
        transition: all .3s;
        position: relative;

        &:hover {
            background-color: #1c1e2f;
        }
    }

    .icon-small-arrow-right {
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
        padding: 15px 10px;
        color: #fff;
        font-size: 20px;
        background-color: #1e2032;
        transition: all .3s;

        &:hover {
            background-color: #171826
        }
    }
}

.mobile-menu-wrapper {
    z-index: 5;
    position: fixed;
    background-color: #24263c;
    margin: 0;
    height: calc(100vh - 64px);
    top: 55px;
    width: 304px;
    max-width: 100%;
    transition: all .3s;
    opacity: 0;
    visibility: hidden;

    &__item {
        &--bold {
            font-weight: 700 !important;
        }
    }


}

.mobile-menu-active {
    top: 64px;
    opacity: 1;
    visibility: visible;
}

.menu-close {
    display: block;
    cursor: pointer;
    position: absolute;
    left: 24px;
    top: 13px;
    transition: all .4s;
    width: 1px;
    padding: 5px 20px;
    height: 40px;
    align-items: center;
    margin-left: auto;
    visibility: hidden;
    opacity: 0;


    span {
        transition: all 0.3s;
        position: absolute;
        background-color: $main-color;

        &:first-child {
            transform: rotate(45deg);
            width: 3px;
            height: 72%;
        }

        &:last-child {
            transform: rotate(-45deg);
            width: 3px;
            height: 72%;
        }
    }
}


.menu-overlay {
    display: block;
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: #00000048;
    top: 0;
    left: 0;
    z-index: 3;
    opacity: 0;
    transition: all .3s;
    visibility: hidden;
}


.menu-wrapper {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 2;
    left: 0;
    transition: all .3s;

    &--active {
        border-bottom: 1px solid #0000001a;
        box-shadow: 0px -2px 8px -5px #2b2b2b;
    }
}




.header-line {
    display: flex;
    align-items: center;
    flex-grow: 1;
    z-index: 2;
    padding: 8px 0;

    &__logo {
        width: 140px;
    }
}

.menu-list {
    padding: 0 20px;
    margin: 0;
    display: flex;
    align-items: center;
    flex-grow: 1;

    li {
        font-size: 14px;
        flex-grow: 1;
        text-align: center;
    }

    &__item {
        &--bold {
            font-weight: 700;
        }
    }

    a {
        padding: 7px 5px;
        transition: all .3s;

        &:hover {
            color: $main-color;
        }
    }
}

.drop-menu {
    &__title {
        display: flex;
        align-items: center;
        justify-content: center;

        &::after {
            content: "";
            clip-path: polygon(50% 70%, 0 0, 100% 0);
            background-color: #52c163;
            width: 9px;
            height: 8px;
            margin-left: 5px;
        }
    }

    &:hover {
        .sub-menu {
            opacity: 1;
            visibility: visible;

        }
    }
}

.sub-menu {
    z-index: 2;
    background-color: #fff;
    position: absolute;
    padding: 5px;
    white-space: nowrap;
    border: 1px solid rgba(175, 183, 209, .3);
    border-radius: $border-radius;
    box-shadow: 0 1px 10px rgba(175, 183, 209, .3);
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    a {
        padding: 7px 5px;
        display: block;
        text-align: left;
        font-weight: 400;
    }
}

.mobile-sub-menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    height: 100%;
    top: 0;
    padding: 10px 0 20px;
    background-color: #24263c;
    width: 100%;
    z-index: 3;
    overflow-y: scroll;
    transition: all .3s;

    li {
        position: relative;
    }

    &__item {
        padding: 14px 25px 14px 10px !important;

        &:hover {
            color: $main-color !important;
            background-color: #1c1e2f !important;
        }
    }

    .icon-small-arrow-left {
        z-index: 1;
        position: absolute;
        top: 50%;
        margin-left: 13px;
        transform: translateY(-50%);
        font-size: 25px;
        color: rgb(214, 214, 214);
    }
}

.header-search {
    position: relative;
    width: 260px;
    max-width: 100%;

    &__input {
        font-size: 12px;
    }
}

.icon-search-mobile {
    position: absolute;
    transition: all .3s;
    right: 16px;
    display: none;
}

.icon-arrow-left-menu {
    font-size: 50px;
    background-color: $main-color;
    color: #fff;
}

.icon-trophy {
    z-index: 1;
    position: absolute;
    top: 50%;
    margin-left: 13px;
    transform: translateY(-50%);
    font-size: 25px;
    color: rgb(214, 214, 214);
}

.sub-navbar-list {
    padding: 0;
    background-color: #eff1f6;
    display: flex;
    border-radius: $border-radius;
    margin: 0;

    li {
        flex-grow: 1;
    }

    a {
        display: inline-block;
        flex-grow: 1;
        font-size: 14px;
        padding: 15px 5px;
        text-align: center;
        width: 100%;
        transition: all .3s;

        &:hover {
            background-color: #e2e6ef;
            color: $color-font;
        }
    }
}

.main-group {
    padding-top: 64px;
}

.popular-clubs {
    overflow-x: auto;
    display: flex;
    justify-content: center;
    padding: 0 24px;


    a {
        position: relative;
        display: inline-flex;
        justify-content: center;
        padding: 9px 13px;
        position: relative;
        transition: all .3s ease;
        width: 53px;
        transition: all .3s;

        &::after {
            content: '';
            position: absolute;
            height: 2px;
            bottom: 0;
            width: 0px;
            background-color: $main-color;
            transition: all .3s ease-in-out;
        }

        &:hover {
            padding-bottom: 14px;
            padding-top: 4px;

            &::after {
                bottom: 5px;
                width: 50%;
            }
        }
    }
}

.icon-hamburger-menu {
    font-size: 30px;
    color: $main-color;
    display: none;
    visibility: visible;
    opacity: 1;
    margin-right: 15px;
}

.icon-search {
    color: #c2c2c2;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 1px;
    padding: 10.5px 10px;
    background-color: #fff;
    position: absolute;
    border: none;
    border-left: 1px solid hsla(0, 0%, 76%, .2);
    transition: all .3s;
    border-radius: 0 4px 4px 0;

    &:hover {
        border-left: 1px solid $main-color;
        color: $main-color;
    }
}

.icon-search__active {
    padding: 10.5px 5px;
}

.icon-search-mobile {
    position: absolute;
    transition: all .3s;
    right: 16px;
    display: none;
}


@media(min-width:575px) {
    .popular-clubs {

        &::-webkit-scrollbar {
            height: 3px;
            background-color: #eeeeee;
            border-radius: $border-radius;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $main-color;
            border-radius: $border-radius;

        }
    }

    .mobile-menu-wrapper {
        max-height: 489px;
    }
}

@media(max-width:1200px) {
    .header-search {
        width: 230px;
    }
}

@media(max-width:991px) {

    .header-line {
        justify-content: space-between;
    }

    .header {
        &__menu-wrapper {
            width: auto;
            margin-left: 5px;
        }
    }

    .menu-list {
        display: none;
    }

    .icon-hamburger-menu {
        display: block;
    }
}

@media(max-width:1100px) {
    .popular-clubs {
        justify-content: start;
    }
}

@media(max-width:768px) {
    .sub-navbar-list {
        display: none;
    }
}

@media(max-width:575px) {
    .header-line-mobile {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        display: flex;
        align-items: center;

        &__arrow {
            background-color: $main-color;
            padding: 10px;
            width: 50px;
            height: 50px;
        }

        &__popular {
            padding: 0;
            overflow-x: auto;
            margin: 0;
        }
    }

    .mobile-menu {
        padding: 0;
        height: calc(100vh - 50px);

    }

    .header-line {
        padding: 0;

        &__logo {
            width: 120px;
        }
    }


    .icon-search {
        height: 68%;
        right: 11px;
        padding: 7px 10px;
        right: 11px;
    }

    .header-search {
        transition: all .3s;
        z-index: 3;
        padding: 7px 10px;
        position: relative;
        opacity: 0;
        visibility: hidden;

        &__input {
            padding: 8px 40px 8px 12px;
        }
    }

    .menu-close {
        display: none;
    }

    .mobile-menu-wrapper {
        top: 50px;
        width: 100%;
        left: -20px;
        height: calc(100vh - 50px);
    }

    .sub-active {
        top: 0;
        height: 100vh;
    }

    .mobile-menu-active {
        left: 0;
    }

    .icon-hamburger-menu {
        margin-right: 8px;
    }

    .icon-search {
        &__active {
            padding: 7px 5px;
        }
    }

    .icon-search-mobile {
        cursor: pointer;
        font-size: 30px;
        display: block;
        color: $main-color;
        padding: 10px;
        opacity: 1;
        visibility: visible;
    }

    .main-group {
        &__popular {
            display: none;
        }
    }
}