.football-news {
    &__wrapper {
        display: grid;
        grid-template-columns: 66.5% 33.5%;
        column-gap: 20px;
        margin-bottom: 50px;
    }

    &__arrows {
        top: 50%;
        transform: translateY(-50%);
    }

    &__title {
        margin-bottom: 30px;
    }

    .splide {
        height: auto;

        &__pagination {
            display: flex !important;
            align-items: baseline;
            bottom: 1.5em;
        }
    }

    .icon-boll {
        transition: all .3s;
        background: transparent;
        color: #ffffff8a;
        border: none;
    }

    li {
        .is-active {
            color: $main-color !important;
            font-size: 20px;
        }
    }
}

.news-left {

    &__list {
        margin-top: 30px;
        height: auto;
        display: grid;
        gap: 55px 30px;
        grid-template-columns: repeat(2, 1fr);

        &__item {
            z-index: 1;
        }
    }
}

.add {
    height: 212px;
    grid-column: span 2;
    background-color: $main-color;
}

.news-right {
    display: flex;
    flex-direction: column;

    &__tables-tabs {
        max-height: 500px;
    }
}

.filter-form {
    padding: 25px;
    display: flex;
    flex-direction: column;
    border: 1px solid #afb7d13b;
    border-radius: 4px;

    &__title {
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 20px;
    }

    &__select {
        color: #808080;
        margin-bottom: 20px;
    }

    &__label {
        font-weight: 400;
        font-size: 14px;
        color: #5F5F5F;
        margin-bottom: 12px;
    }

    &__input {
        margin-bottom: 20px;
    }

    &__reset-btn {
        background: transparent;
        border: none;
        text-align: left;
        font-weight: 300;
        font-size: 14px;
        color: #505050;
    }
}

.table-tabs {
    margin-top: 50px;
    max-height: 500px;
}