@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?4qgo3n');
  src:  url('/fonts/icomoon.eot?4qgo3n#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?4qgo3n') format('truetype'),
    url('/fonts/icomoon.woff?4qgo3n') format('woff'),
    url('/fonts/icomoon.svg?4qgo3n#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e90c";
  color: #fff;
}
.icon-vk1:before {
  content: "\e90b";
  color: #fff;
}
.icon-arrow-left-menu:before {
  content: "\e908";
}
.icon-small-arrow-right:before {
  content: "\e900";
}
.icon-small-arrow-left:before {
  content: "\e901";
}
.icon-arrow-scroll-top:before {
  content: "\e902";
}
.icon-view-eye:before {
  content: "\e903";
}
.icon-trophy:before {
  content: "\e904";
}
.icon-search-icon:before {
  content: "\e905";
}
.icon-hamburger-menu:before {
  content: "\e906";
}
.icon-comment:before {
  content: "\e907";
}
.icon-arrow-left:before {
  content: "\e90a";
}
.icon-calendar:before {
  content: "\e909";
}



.icon-arrow-left-menu {
  font-size: 50px;
  background-color: $main-color;
  color: #fff;
}

.icon-trophy {
  z-index: 1;
  position: absolute;
  top: 50%;
  margin-left: 13px;
  transform: translateY(-50%);
  font-size: 25px;
  color: rgb(214, 214, 214);
}

.mobile-menu {

  .icon-small-arrow-right {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    padding: 15px 10px;
    color: #fff;
    font-size: 20px;
    background-color: #1e2032;
    transition: all .3s;

    &:hover {
      background-color: #171826
    }
  }
}

.selection-search {
  &:hover {
    .icon-small-arrow-right {
      color: $main-color;
      transform: translateY(-50%) rotate(270deg);
    }
  }
  
  .icon-small-arrow-right {
    transition: all .2s;
    position: absolute;
    right: 15px;
    transform: translateY(-50%) rotate(90deg);
    top: 50%;
    font-size: 12px;
    color: #afb7d1;
  }
}

.mobile-sub-menu {
  .icon-small-arrow-left {
    z-index: 1;
    position: absolute;
    top: 50%;
    margin-left: 13px;
    transform: translateY(-50%);
    font-size: 25px;
    color: rgb(214, 214, 214);
  }
}

.icon-hamburger-menu {
  font-size: 30px;
  color: $main-color;
  display: none;
  visibility: visible;
  opacity: 1;
  margin-right: 15px;
}

.icon-search {
  color: #c2c2c2;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
  right: 1px;
  padding: 10.5px 10px;
  background-color: #fff;
  position: absolute;
  border: none;
  border-left: 1px solid hsla(0, 0%, 76%, .2);
  transition: all .3s;
  border-radius: 0 4px 4px 0;

  &:hover {
    border-left: 1px solid $main-color;
    color: $main-color;
  }
}

.icon-search__active {
  padding: 10.5px 5px;
}

.icon-search-mobile {
  position: absolute;
  transition: all .3s;
  right: 16px;
  display: none;
}

.icon-calendar,
.icon-view-eye,
.icon-comment {
  font-size: 14px;
  margin-right: 4px;
  color: #b1b7cf;

}

.voting-form {
  .icon-small-arrow-right {
    margin-left: 6px;
    color: #9CA6C6CF;
  }
}

.footer-wrapper {
  .icon-facebook {
    font-size: 28px;
  }
  .icon-vk1 {
    font-size: 28px;
    margin-left: 37px;
  }
}

@media(max-width:991px) {
  .icon-hamburger-menu {
    display: block;
  }
}

@media(max-width:575px) {
  .icon-hamburger-menu {
    margin-right: 8px;
  }

  .icon-search {
    padding: 7px 10px;
    right: 11px;
  }

  .icon-search {
    &__active {
      padding: 7px 5px;
    }
  }

  .icon-search-mobile {
    cursor: pointer;
    font-size: 30px;
    display: block;
    color: $main-color;
    padding: 10px;
    opacity: 1;
    visibility: visible;
  }

}