.voting__preload {
    opacity: 0;
    visibility: hidden;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
  }
  .voting__preload div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid $main-color;
    border-radius: 50%;
    animation: voting__preload 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $main-color transparent transparent transparent;
  }
  .voting__preload div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .voting__preload div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .voting__preload div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes voting__preload {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  