.title {
    display: inline-block;
    font-size: 32px !important;
    font-weight: 700;
    line-height: 37px;
    color: $color-font;
    transition: all .3s;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
        color: $main-color;
    }

    &--md-sizing {
        font-weight: 700;
        font-size: 26px;
    }

}

.desc {
    font-weight: 300;
    font-size: 14px;
    color: #5F5F5F;

    &--level-2 {
        font-weight: 300;
        font-size: 16px;
        color: #fff;
    }
}

.news-title {
    font-size: 18px;
    line-height: 1.2;
    color: $color-font;
    font-weight: 500;
    display: block;
    transition: all .3s;
    cursor: pointer;

    &--font-size-15 {
        font-size: 15px;
    }

    &--font-size-16 {
        font-size: 16px;
    }

    &:hover {
        color: $main-color;
    }

    &--level-2 {
        line-height: 28px;
        font-weight: 700;
        font-size: 26px;
        color: #fff;
    }
}

input {
    width: 100%;
    font-weight: 300;
    color: #414141;
    border: none;
    border: 1px solid hsla(0, 0%, 76%, .2);
    padding: 12px 40px 11px 13px;
    border-radius: $border-radius;
    transition: all .3s;

    &:focus {
        outline: none;
        border: 1px solid $main-color;
    }

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="radio"] {
    padding: 0;
    width: auto;

    &:focus {
        outline: none;
        border-radius: 10px;
    }
}

select {
    position: relative;
    padding: 12px 55px 12px 12px;
    border: 1px solid #afb7d1;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s;
}

.category-link {
    display: inline-flex;
    font-size: 14px;
    color: $main-color;
    margin-bottom: 6px;

    &--font-weight-thin {
        font-weight: 100;
    }

    &:hover {
        color: $main-color !important;
        text-decoration: underline !important;
    }
}

.btn {
    width: 100%;
    padding: 7px 14px;
    align-items: center;
    background-color: $main-color;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    transition: all .2s;

    &:hover {
        background-color: #3fb050;
    }

    &--second-type {
        width: fit-content;
        font-weight: 500;
        min-width: 165px;
        background-color: #fff;
        color: $main-color;
        border: 1px solid $main-color;
        padding: 9px 38px;
        transition: all .3s;

        &:hover {
            color: #fff;
            background-color: $main-color;
        }
    }

    &--md-btn {
        width: auto;
        padding: 17px 50px;
        font-size: 16px;
        font-weight: 400;
    }

    &--non-active {
        &:hover {
            cursor: inherit;
            background-color: #fff;
            color: $main-color;
        }
    }
}

.preload {
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
}

.preload div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    border: 8px solid $main-color;
    border-radius: 50%;
    animation: preload 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $main-color transparent transparent transparent;
}

.preload div:nth-child(1) {
    animation-delay: -0.45s;
}

a .preload div:nth-child(2) {
    animation-delay: -0.3s;
}

.preload div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes preload {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.icon-calendar,
.icon-view-eye,
.icon-comment {
    font-size: 14px;
    margin-right: 4px;
    color: #b1b7cf;
}

.nesting-links {
    padding-bottom: 20px;
    display: flex;
    align-items: center;

    &__name {
        font-weight: 300;
        color: #808080;
    }

    .icon-small-arrow-right {
        margin: 0 11px;
        color: rgb(197, 197, 197) !important;
    }

    .icon-boll {
        color: #808080 !important;
    }
}

@mixin pageBase {
    .container {
        margin: 0 auto;
        max-width: 1190px;
        padding: 0 25px;
        width: 100%;
    }

    body {
        position: relative;
        font-family: $default-font;
        color: $color-font;
    }

    a {
        color: $color-font;
        text-decoration: none;
    }

    li {
        list-style-type: none;
    }

    @media(max-width:991px) {
        .container {
            padding: 0 15px !important;
        }
    }

    @media(max-width:630px) {
        .container {
            padding: 0 8px !important;
        }
    }
}

@media(max-width:420px) {
    .title {
        font-size: 22px !important;
    }

    .news-title {
        font-size: 16px;
    }
}