.title {
    display: inline-block;
    font-size: 32px !important;
    font-weight: 700;
    line-height: 37px;
    color: $color-font;
    transition: all .3s;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
        color: $main-color;
    }

}

.desc {
    font-weight: 300;
    font-size: 14px;
    color: #5F5F5F;

    &--level-2 {
        font-weight: 300;
        font-size: 16px;
        color: #fff;
    }
}

.news-title {
    font-size: 18px;
    line-height: 1.2;
    color: $color-font;
    font-weight: 500;
    display: block;
    transition: all .3s;
    cursor: pointer;

    &--font-size-15 {
        font-size: 15px;
    }

    &--font-size-16 {
        font-size: 16px;
    }

    &:hover {
        color: $main-color;
    }

    &--level-2 {
        line-height: 28px;
        font-weight: 700;
        font-size: 26px;
        color: #fff;
    }
}

.category-link {
    display: inline-flex;
    font-size: 14px;
    color: $main-color;
    margin-bottom: 6px;

    &--font-weight-thin {
        font-weight: 100;
    }

    &:hover {
        color: $main-color !important;
        text-decoration: underline !important;
    }
}

.btn {
    width: 100%;
    padding: 7px 14px;
    align-items: center;
    background-color: $main-color;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    transition: all .2s;

    &--second-type {
        width: fit-content;
        font-weight: 500;
        min-width: 165px;
        background-color: #fff;
        color: $main-color;
        border: 1px solid $main-color;
        padding: 9px 38px;
        transition: all .3s;

        &:hover {
            color: #fff;
            background-color: $main-color;
        }
    }

    &--non-active {
        &:hover {
            cursor: inherit;
            background-color: #fff;
            color: $main-color;
        }
    }
}

.nesting-links {
    padding-bottom: 20px;
    display: flex;
    align-items: center;

    &__name {
        font-weight: 300;
        color: #808080;
    }
}

@mixin pageBase {
    .container {
        margin: 0 auto;
        max-width: 1190px;
        padding: 0 25px;
        width: 100%;
    }

    body {
        position: relative;
        font-family: $default-font;
        color: $color-font;
    }

    a {
        color: $color-font;
        text-decoration: none;
    }

    li {
        list-style-type: none;
    }

    @media(max-width:991px) {
        .container {
            padding: 0 15px !important;
        }
    }

    @media(max-width:630px) {
        .container {
            padding: 0 8px !important;
        }
    }
}

@media(max-width:420px) {
    .title {
        font-size: 22px !important;
    }

    .news-title {
        font-size: 16px;
    }
}